@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DJ App</h1>
    <p class="lead">Proof of Concept for a DJ application that uses spotify api end points to let groups of people all be a DJ in rotation.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Connect Your Spotify Account</h2>
        <a class="btn btn-primary" href="@Url.Action("GetCode", "Home")">Login To Spotify</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Connect A Location To This Application (Note You will need to connect your spotify account first!)</h2>
        <a class="btn btn-primary" href="@Url.Action("AddLocation", "Locations")">Set Up A Location</a>
    </div>
</div>