@{
    ViewBag.Title = "Song Added";
}

<h2>Your Song Has Been Added!</h2>

<a class="btn btn-primary" href="@Url.Action("SearchArtist", "DJ")">Add Another Song</a>
<p>since this is still a Proof of concept you can keep adding songs if you would like. If nothing is playing just tell david to hit the play button. </p>